.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.home-page h1 {
  color: #009dd5;
}

.home-page .big-icon {
  font-size: 50px;
  color: #009dd5;
}

.home-page .rocket {
  font-size: 24px;
  color: #009dd5;
  margin-right: 10px;
}

.home-page .para-icon {
  color: #009dd5;
  margin-right: 10px;
}

.home-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.invalid-page h1 {
  color: #d62929;
}

.invalid-page .big-icon {
  color: #d62929;
}

.invalid-page .go-to-home-btn {
  background-color: #009dd5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
}
