.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.home-page h1 {
  color: var(--primary);
}

.home-page .big-icon {
  font-size: 50px;
  color: var(--primary);
}

.home-page .rocket {
  font-size: 24px;
  color: var(--primary);
  margin-right: 10px;
}

.home-page .para-icon {
  color: var(--primary);
  margin-right: 10px;
}

.home-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.invalid-page h1 {
  color: var(--red);
}

.invalid-page .big-icon {
  color: var(--red);
}

.invalid-page .go-to-home-btn {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

@media (max-width: 700px) {
  .home-page {
    padding: 20px;
  }
}
