.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.home-page h1 {
  color: #009dd5;
}

.home-page .door-open {
  font-size: 50px;
  color: #009dd5;
}

.home-page .rocket {
  font-size: 24px;
  color: #009dd5;
  margin-right: 10px;
}

.home-page .para-icon {
  color: #009dd5;
  margin-right: 10px;
}

.home-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
