.sidebar {
  width: 275px;
  /* background-image: linear-gradient(#0066ff, #18aaff); */
  background-color: #009dd5;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  position: fixed;
}

.sidebar .rocket {
  margin-right: 10px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar-item {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
}

.sidebar-item:hover {
  scale: 1.02;
}

.sidebar-item:visited {
  color: #000;
}

.sidebar-section .create-btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s;
  color: #000;
}

.sidebar-section .create-btn:hover {
  scale: 1.02;
}

.sidebar-section .create-btn:visited {
  color: #000;
}

.heading-link {
  text-decoration: none;
  color: #fff;
}
