.sidebar {
  width: 275px;
  /* background-image: linear-gradient(#0066ff, #18aaff); */
  background-color: #009dd5;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  /* position: fixed; */
  z-index: 3;
  border-radius: 0 5px 5px 0;
}

.sidebar .rocket {
  margin-right: 10px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar-items {
  width: 100%;
  /* height: 100%; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  transform-origin: top;
}

.sidebar-item .icon {
  color: #009dd5;
}

.sidebar-item:hover {
  scale: 1.02;
}

.sidebar-item:visited {
  color: #000;
}

.sidebar-item {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
}

.sidebar-item.selected {
  /* box-shadow: 0px 0px 8px 2px #0068a5; */
  /* background-color: #1dacff; */
  /* scale: 1.03; */
  /* border-radius: 50px; */
}

/* .sidebar-item p {
  color: #009dd5;
} */

.sidebar-section .create-btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s;
  color: #000;
}

.sidebar-section .create-btn:hover {
  scale: 1.02;
}

.sidebar-section .create-btn:visited {
  color: #000;
}

.heading-link {
  text-decoration: none;
  color: #fff;
}

.close-btn {
  background-color: #fff;
  /* padding: 10px; */
  color: #009dd5;
  width: 30px;
  height: 30px;
  border-radius: 50% 0 0 50%;
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
}
